<input type="text" [formControl]="filter" placeholder="Filter states...">

<div class="content-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of filteredStates$ | async">
                <td>{{i.login}}</td>
                <td>{{i.url}}</td>
                <td> 
                    <img [src]="i.avatar_url" class="image-url" alt="...">
                </td>
            </tr>
        </tbody>
    </table>
</div>