<div class="content-table">
    <table class="table">
        <thead>
            <!-- <tr>
                <th>
                    
                    <div class="sort-icon">
                        <i class="fas fa-sort-up"></i>
                        <i class="fas fa-sort-down"></i>
                    </div>
                </th>
            </tr> -->
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of userResults">
                <td>{{i.login}}</td>
                <td>{{i.url}}</td>
                <td> 
                    <img [src]="i.avatar_url" class="image-url" alt="...">
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <span class="message-filter d-flex justify-content-center"
          *ngIf="searchTerm">
        !!Sorry there are no results with this search
    </span> -->
</div>